.background{
          background-color:aliceblue;
          background-color:red;
}
.header_container{
          margin: 2%;
          background-color:#FFFFFF ;
          /* background-color:black; */
          position: relative;
          box-shadow: 0px 0px 12px #0000000f;
          margin-right:72px;
          margin-left:72px;
          /* margin-top: 0px; */
}
.info-card{
          padding: 0 5px;
}
.info-container{
          height: 120px;
          padding:30px;
          border: 0px solid;
          border-radius: 10px;
          box-shadow: 0px 3px 12px #0000000F;
}
         .bg-image{
           /* position:relative; */
           
           background-image: url('../Avater/Group\ 5547.svg');
           background-repeat: no-repeat;
           background-position:bottom;
           background-size: cover;
         
          
         }
         button.button {
          border-radius: 100rem;
          padding: 1rem;
          font-family: 'Avenir Next';
          font-size: 1rem;
          padding: .1rem 3rem;
          height:34px;
          /* margin-bottom: 10px;; */
          /* color: $color-black; */
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          border: solid 3px transparent;
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px #fff inset;
        }